body {
  background-image: url('../img/fondobing.jpg');
  margin: 0px;
  background-repeat: no-repeat;
  background-position: center;

  text-decoration: none;
  
  
}

.container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  height: 100vh;
}

/* cabecera */
.header {
  
  height: 7vh;
  display: flex;

}

/* contenido */
.main {
 
  height: 73vh;
  display: flex;
  justify-content: center;
}

/* Barra buscador */
.input {
  border-radius: 25px;
  width: 40vw;
  height: 7vh;
}
.buscador {
  width: 60vw;
  height: 10vh;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
}

/* pie de página */
.footer {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Componestes de la cabecera */
.header-01 {
  
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-header {

  height: 4vh;
  width: 25vw;
  display: flex;
  justify-content: center;
}

.header-02 {

  width: 55vw;
  display: flex;
}

.header-02-01 {

  width: 27.5vw;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: left;
  text-indent: 10pt;
}

.header-02-02 {

  /* background-color: cyan; */
  width: 27.5vw;
  height: 7vh;
  display: flex;
  align-items:center;
  text-indent: 30pt;
  /* justify-content: flex-end; */

}
.header-line-none{
    text-decoration: none;
}

.header-03 {

  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-indent: 10pt;

}

.iconos{

    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-indent: 10pt;
}
.icono-registro{

    width: 25px;
    height: 25px;
    display: flex;
    justify-content:flex-end;
    padding: 5px;
}

.footer-01 {
  height: 20vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-02 {
  height: 20vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-03 {
  height: 20vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-04 {
  height: 20vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-05 {
  height: 20vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
